.product_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 20px;;
}

.product_box:hover{
    opacity: 0.8;
    
}

.product_container .product_box{
    width: 300px;
    height: 600px;
    overflow: hidden;
    margin-top: 20px;
    background-color: #e8e8e8;
    padding: 10px 20px;
    cursor: pointer;

}

.product_container .product_box .size{
    align-items: center;
    max-width: 100%;
}

.product_container .product_box .content .image_src-box img {
    width: 250px;
    height: 250px;;
}

.product_container .product_box .product_content .product_detail .info {
    margin-top: 20px;
}

.product_detail{
    padding-left:10px ;
}

.info p{
    padding-top: 10px;
    padding-bottom: 10px;
}

 .product_detail button{
    padding-top: 10px;
    width: 100px;
    height: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    display: block;
    margin: auto;
    border-color: aliceblue;
}
 .product_detail button:hover{
    background-color: orange;
    border: none;
}


.detail_container{
    position:fixed;
    z-index: 1;
    align-self: center;
    width: 800px;
    background: #fff;
    margin-left: 19%;;
    margin-top: -20%;
    box-shadow: rgba(0,0,0,0,35) 0px 5px 15px;
    border: 1px solid #e8e8e8;
    padding: 28px 30px;
    border-radius: 5px;
    
}

.detail_container .detail_name {
    max-width: 100%;
    
}

.detail_container .detail_name{
    border: none;
    outline: none;
    cursor: pointer;
    
}

.detail_container .detail_name .detail_info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;;
    
}

.detail_container .detail_name .detail_info .image_src-box img{
    width: 270px;
    height: 350px;
}

.detail_container .detail_name .detail_info .detail{
    margin-left: 10px;
}

.detail_container .detail_name .detail_info .detail h2{
    color: blue;
    font-weight: 20;
    
}

.detail_container .detail_name .detail_info .detail h3{
    margin-top: 10px;
    color:black;
}

.detail_container .detail_name .detail_info .detail p{
    margin-top: 10px;
    margin-right: 30px;
}

.detail_container .detail_name .detail_info .detail h4{
    margin-top: 10px;
    color: black;
    
}
.image_src-box img{
    width: 262px;
    height: 349px;
    
}

.detail_container .detail_name .detail_info .detail h4 button{
    border-radius: 100px 100px 100px 100px;
    width: 20px;
    font-size: 15px;
    justify-content: space-between;
    text-align: center;
    border: none;
    background: none;
    justify-items: center;
}

.detail_container .detail_name .detail_info .detail h4 button:hover{
    background-color: rgb(173, 154, 154);
    border:wheat
}

.detail_container .detail_name .detail_info .detail button{
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background: orangered;
    color: #000;
    cursor: pointer;
}

.detail_container .detail_name .detail_info .detail button:hover{
    border:none;
    background-color: orange;
}
.close{
    border: none;
}