.invite_box {
    background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
    width: 100%;
    height: 53px;
   
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #00000008;
  }
  
  .invite_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 13px;
  }
  
  .invite_line {
    width: 545px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
  }
  
  .invite_button {
    border-radius: 20px 20px 20px 20px;
    width: 100px;
    height: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color:black; 
    border: none;
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: Roboto, sans-serif; 
  }
  
  .invite_button:hover {
    opacity: 0.8; 
  }
  

.small-text{
width: 400px;
height: 14px;
top: 144px;
left: 24px;
gap: 0px;
opacity: 0px;
font-family: Roboto;
font-size: 12px;
font-weight: 300;
line-height: 14.06px;
text-align: left;
font-family: Roboto;
font-size: 10px;
font-weight: 400;
line-height: 14.06px;
text-align: left;
padding-top: 5px;
color: #000000;
padding-left: 20px;


}
